
<html>
  <head></head>
  <body>
  <link rel="stylesheet" href="/Content/about.css">
  <table>
  <tr><img src="Assets/images/logo.jpg" height = "100px"/></tr>
  </table>
  <div style="padding-top: 20px;">
  <h2>About me</h2>
  <img src="Assets/images/myself.jpg" />
  <table>
  <tr>
  <td>Name: </td>
  <td>Shihab Khan</td>
  </tr>
  <tr>
  <td valign="top">About me: </td>
  <td>
  My name is MD Shihab Khan. I'm a  student at Centennial College. And my course is Software engineering and technology. I was born and raised in Khulna, Bangladesh. <br>
  I completed my high school at Khulna Zilla  School, Khulna. <br>
  I like to travel a lot. I believe traveling gives you a new perspective on everything. You get to know a lot about the different cultures, the cuisines, their history, the language and all the small unique things every place has to offer.
  </td>
  </tr>
  <tr>
  <td>Resume: </td>
  <td><a href="Resume Arnob.pdf">Click Here</a></td>
  </tr>
  </table>
  </div>
  </body>
  </html>